{% extends '_default/list.html.twig' %}

      {%- block content ~%}
      {%- if page.type != 'homepage' %}<h1>{{ page.title|e }}</h1>{% endif ~%}
      {{ page.content ~}}
      {%- for p in pages ~%}
      <article>
        <h2><a href="{{ url(p) }}">{{ p.title|e }}</a></h2>
        <time>{{ p.date|format_date('long') }}</time>
      </article>
      {%- endfor ~%}
    {{- include('partials/paginator.html.twig', {page}, with_context = false) ~}}
    {%- endblock content ~%}
